.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item a{
    transition: 0.2s;
    display: block;
    width: 132px;
    height: 20px;
    margin-left: 4px;
    margin-top: 4px;
    background-color: #181818;
    color: #999;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
    font-size: 12px;
}

.item a:hover{
    background-color: #333;
    color: #ddd;
}