.category {
    width: 960px;
    margin: 0 auto;
}


.item {
  width: 960px;
  padding: 0;
  margin: 0 auto !important;

}

.item li {
  float: left;
  list-style: none;
}

.item li a {
    transition: 0.2s;
    display: block;
    width: 132px;
    height: 23px;
    margin-left: 4px;
    margin-top: 4px;
    background-color: #181818;
    color: #999;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;
    font-size: 14px;
}

.item li a:hover {
  background-color: #333;
  color: #ddd;
}
